<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	var config = {
    		apiKey: "AIzaSyByKsrnp_Cpvf5A_HgireonTXolgCcwsKk",
    		authDomain: "bonjour-61159.firebaseapp.com",
    		databaseURL: "https://bonjour-61159.firebaseio.com",
    		storageBucket: "bonjour-61159.appspot.com",
    		messagingSenderId: "136270025924"
  	};
	firebase.initializeApp(config);
	// 建立 DB
	var database = firebase.database();
  function addSendandRecieveMessage(senderName,username,msg){
    database.ref('/user/message/').push({
        senderName:senderName,
        username:username,
        msg:msg
    });
  }
	function addBoardMember(userId){
		database.ref('board/sport/member/'+userId).push({
			username:username
		});
	}
	function addMessage(senderName,text){
		database.ref('board/sport/message/').push({
			// senderId:senderId,
			senderName:senderName,
			text:text
		});
	}
	function display_msg(id, name, msg){
        $('#messages').append($('<li>').text(name+" : "+msg));
        var message = document.getElementById("message_block");
        message.scrollTop = message.scrollHeight;
    }
    function display_send_msg(id, name, msg){
        $('#messages').append($('<li>').text("你私訊"+name+" : "+msg));
        var message = document.getElementById("message_block");
        message.scrollTop = message.scrollHeight;
    }
    function display_recieve_msg(id, name, msg){
        $('#messages').append($('<li>').text(name+"私訊你 : "+msg));
        var message = document.getElementById("message_block");
        message.scrollTop = message.scrollHeight;
    }
    //私聊的訊息
    function appendOneMessage(name){
      // //撈自己的私訊(你傳的)
      //   database.ref('user/message/').orderByChiid('senderName').equalTo(name).on('value',function(snapshot) {
      //     var message = snapshot.val();
      //     // $('#messages').empty();
      //     $.each(snapshot.val(),function(k,v){
      //         display_send_msg(k,v.username,v.msg);
      //     });
      //   });
        //撈自己的私訊(你收到的)
        database.ref('user/message/').orderByChild("username").equalTo(name).on('value',function(snapshot) {
          var message = snapshot.val();
          // $('#messages').empty();
          $.each(snapshot.val(),function(k,v){
              display_recieve_msg(k,v.senderName,v.msg);
          });
        });
    }
	database.ref('board/sport/message/').on('child_added',function(snapshot) {
            var message = snapshot.val();
            $('#messages').empty();
            $.each(snapshot.val(),function(k,v){
                display_msg(k,v.senderName, v.text);
            });
    });
	var socket = io();
  var users = new Array();
      $(document).ready(function(){
        // var name = prompt("請輸入你的名字","訪客");
        // if(name=="" || name==null){
        //   name = "訪客";
        // }
        //擷取網址列的id值
        var url = location.search;
        var rid;
        if(url.indexOf("?") != -1) {
          var str = url.substr(1);
          // str.split("=")[0] 為 userID
          rid = str.split("=")[1];
        }
        console.log(rid);
        var name = rid;
        appendOneMessage(name);

        //tell server
        socket.emit("add user",name);
        
        
        //監聽新訊息事件
        socket.on('chat message', function(data){
          appendMessage(data.username+" : "+data.msg);
          addMessage(data.username,data.msg);
        });
        //列出在線的人    
        socket.on('usernames',function(data){
          $('#user_name li').remove();
          for(var i=0;i<data.length;i++){
              appendUser(data[i]);
          }
        });
        
        socket.on('user left',function(data){
          // appendUser(data.username+" 已離開");
          removeUser(data.username);
        });
        socket.on("sayToYou",function(fromuser,content){ 
          appendMessage(fromuser+" 私訊你 : "+content);
          // addMessage(fromuser,content);
        });
        socket.on("say_private_done",function(fromuser,touser,content){ 
          appendMessage("你已私訊"+touser+" : "+content);
          addSendandRecieveMessage(fromuser,touser,content);
        });
        $('#send').click(function(){
          var content = $("#m").val();   //獲得消息
          if(content == ""){ 
            return;
          }
          if(content.substring(0,1) === '@' && content.indexOf(':') != -1){   //private message  format:  @user:
            var index = content.indexOf(':');
            if(content[index-1] != " "){
              var touser = content.substring(1,index);  //userName
              var content1 = content.substr(index+1);
              var fromuser = name;
              socket.emit("say_private",fromuser,touser,content1);    //私聊
            }else{ 
              socket.emit("chat message",content);   // 群聊
            }
          }else{
              socket.emit("chat message",content);   // 正常群聊 
          }
          $('#m').val('');
          return false;
        });

        $("#m").keydown(function(event){
          if ( event.which == 13 ){
            $('#send').click();
          }
        });
        function appendMessage(msg){
          $('#messages').append($('<li>').text(msg));
          var message = document.getElementById("message_block");
          message.scrollTop = message.scrollHeight;
        }
        function appendUser(user){
          $('#user_name').append($('<li id='+ user +'>'+ user +'</li>'));
          // $('#user_name').append($('<li>').text(user));
          var user = document.getElementById("user");
          user.scrollTop = user.scrollHeight;
        }
        function removeUser(user){
          $('#'+user).remove();
          // $('#user_name').append($('<li>').text(user));
          var user = document.getElementById("user");
          user.scrollTop = user.scrollHeight;
        }
      });
</script>
</head>
<body class="chatbg">
  <div id="wrap">
    <div id ="user">
      <div id="user_header">
        <h2>運動版</h2>
        <form id="backhome_form" action="/backhome" method="post">  
            <button id="backhome_btn">HOME</button></br>
        </form>
        <span class="onlineid">在線ID</span>
      </div>
      <div id="clear"></div>
      <ul id="user_name"></ul>
    </div>
    <div id="message_block">
      <ul id="messages"></ul>
    </div>
    <input id="m" placeholder="我想說...(私訊格式:@user:hi)" autocomplete="off" /><button id="send">Send</button>
  </div>  
</body>
</html>